{% extends 'master.html' %}

{% block title %}Trend{% endblock %}

{% block head %}
<link rel="stylesheet" href="static/bower_components/Ionicons/css/ionicons.min.css">
<link rel="stylesheet" href="static/dist/css/AdminLTE.min.css">
<!-- Morris charts
<link rel="stylesheet" href="static/bower_components/morris.js/morris.css">-->

<link rel="stylesheet" href="static/dist/css/skins/_all-skins.min.css">
<!-- jvectormap -->
<link rel="stylesheet" href="static/bower_components/jvectormap/jquery-jvectormap.css">
<!-- Date Picker -->
<link rel="stylesheet" href="static/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
<!-- Daterange picker -->
<link rel="stylesheet" href="static/bower_components/bootstrap-daterangepicker/daterangepicker.css">
<!-- bootstrap wysihtml5 - text editor -->
<link rel="stylesheet" href="static/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
{% endblock %}

{% block content %}

        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Trend</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                                <li class="breadcrumb-item">Dashboard</li>
                                <li class="breadcrumb-item active">Trend</li>
                            </ol>
                        </div>
                    </div>
                </div>

      <div class="row layer">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header">
              <i class="fa fa-map-marker"></i>
              <h3 class="box-title">
                Visitors
              </h3>
            </div>
            <div class ="box-body">
              <div class="row">
                <div class="col-lg-6">
                  <!-- LINE CHART -->
                  <div class="box box-default">
                    <div class="box-header with-border">
                      <h3 class="box-title">Collected files</h3>
                    </div>
                    <div class="box-body">
                      <div class="row">
                        <div class="col-md-10">
                          <div class="chart">
                            <canvas id="FileChart" style="height:250px"></canvas>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <ul class="chart-legend clearfix">
                            <li>
                              <i class="fa fa-circle-o text-aqua"></i>
                              B
                            </li>
                            <li>
                              <i class="fa fa-circle-o text-red"></i>
                              C
                            </li>
                            <li>
                              <i class="fa fa-circle-o text-yellow"></i>
                              D
                            </li>
                            <li>
                              <i class="fa fa-circle-o text-blue"></i>
                              E
                            </li>
                            <li>
                              <i class="fa fa-circle-o text-green"></i>
                              F
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!-- /.box-body -->
                  </div>
                  <!-- /.box -->
                </div>
                <div class="col-lg-6">
                  <!-- LINE CHART -->
                  <div class="box box-default">
                    <div class="box-header with-border">
                      <h3 class="box-title">Collected hours</h3>
                    </div>
                    <div class="box-body">
                      <div class="row">
                        <div class="col-md-10">
                          <div class="chart">
                            <canvas id="HourChart" style="height:250px"></canvas>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <ul class="chart-legend clearfix">
                            <li>
                              <i class="fa fa-circle-o text-aqua"></i>
                              B
                            </li>
                            <li>
                              <i class="fa fa-circle-o text-red"></i>
                              C
                            </li>
                            <li>
                              <i class="fa fa-circle-o text-yellow"></i>
                              D
                            </li>
                            <li>
                              <i class="fa fa-circle-o text-blue"></i>
                              E
                            </li>
                            <li>
                              <i class="fa fa-circle-o text-green"></i>
                              F
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!-- /.box-body -->
                  </div>
                  <!-- /.box -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row-->
      <!-- row down-->
      <div class="row layer">
        <div class="col-lg-4">
          <!-- AREA CHART -->
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">Total Files </h3>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="AccFileChart" style="height:265px"></canvas>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col-->
        <div class="col-lg-4">
          <!-- AREA CHART -->
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">Total Hours</h3>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="AccHourChart" style="height:265px"></canvas>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col-->

        <div class="col-lg-4">
          <!-- DONUT CHART -->
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">Storage Usage in TB</h3>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="StorageChart" style="height:250px"></canvas>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
      <!-- /.row-->


            </div>
            <!-- End Container fluid  -->
        </div>

{% endblock %}

{% block extra %}
        <div class="modal fade" id="annotation_dialog" tabindex="-1" role="dialog" aria-labelledby="Add Annotation">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="bed_detail_title">Add Annotation</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="datepicker" class="control-label">Date:</label>
                                <input type="text" id="datepicker" size="10" maxlength="10">
                            </div>
                            <div class="form-group">
                                <label for="hh" class="control-label">Time:</label>
                                <input id="hh" class="spinner" name="hh" size="2" maxlength="2">
                                <input id="mm" class="spinner" name="mm" size="2" maxlength="2">
                                <input id="ss" class="spinner" name="ss" size="2" maxlength="2">
                            </div>
                            <div class="form-group">
                                <label for="cat1" class="control-label">Cat 1:</label>
                                <select class="cat" name="cat1" id="cat1">
                                    <option selected="selected">None</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="cat2" class="control-label">Cat 2:</label>
                                <select class="cat" name="cat2" id="cat2" disabled="true">
                                    <option selected="selected">None</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="desc" class="control-label">Desc:</label>
                                <input type="text" id="desc">
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" id="btn-update-annotation" class="btn btn-primary">Add</button>

                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block script %}
    <script src="/static/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap popper Core JavaScript -->
    <script src="/static/assets/node_modules/popper/popper.min.js"></script>
    <script src="/static/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/static/elite/js/perfect-scrollbar.jquery.min.js"></script>
    <!--Wave Effects -->
    <script src="/static/elite/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/static/elite/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="/static/elite/js/custom.min.js"></script>

    <script>

    </script>
{% endblock %}