<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<!-- Favicon icon -->
<link rel="shortcut icon" href="/static/favi.ico" />
<title>AMC Bio Signal :: {% block title %}{% endblock %}</title>
<!-- Custom CSS -->
<link href="/static/elite/css/style.css" rel="stylesheet">
{% block head %}
{% endblock %}
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="horizontal-nav skin-megna fixed-layout">

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- Topbar header - style you can find in pages.scss
        <header-- class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header">
                    <a class="navbar-brand" href="dashboard">
						<span class="hidden-sm-down">
						 Asan Medical Center
						</span>
                    </a>
                </div>


                <div class="navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"> <a class="nav-link nav-toggler d-block d-md-none waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item"> <a class="nav-link sidebartoggler d-none waves-effect waves-dark" href="javascript:void(0)"><i class="icon-menu"></i></a> </li>
                    </ul>

                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item right-side-toggle"> <a class="nav-link  waves-effect waves-light" href="javascript:void(0)"><i class="ti-settings"></i></a></li>
                    </ul>
                </div>
            </nav>
        </header-->
        <!-- End Topbar header -->

        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li>
						    <a class="has-arrow waves-effect waves-dark" href="/">
						    <span class="hide-menu">Asan Medical Center</span></a>
                        </li>
                        <li>
						    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-image"></i>
						    <span class="hide-menu">Dashboard</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="dashboard">Anesthesiology </a></li>
                                <!--li><a href="dashboard?target=etc">Etc.</a></li-->
                                <li><a href="trend">Trend</a></li>
                            </ul>
                        </li>
                        <li>
						    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-stats-up"></i>
							<span class="hide-menu">서관</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="summary_rosette?rosette=B">B Rosette</a></li>
                                <li><a href="summary_rosette?rosette=C">C Rosette</a></li>
                                <li><a href="summary_rosette?rosette=D">D Rosette</a></li>
                                <li><a href="summary_rosette?rosette=E">E Rosette</a></li>
                                <li><a href="summary_rosette?rosette=WREC">Recovery</a></li>
                            </ul>
                        </li>
                        <li>
						    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-stats-up"></i>
							<span class="hide-menu">동관</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="summary_rosette?rosette=F">F Rosette</a></li>
                                <li><a href="summary_rosette?rosette=G">G Rosette</a></li>
                                <li><a href="summary_rosette?rosette=H">H Rosette</a></li>
                                <li><a href="summary_rosette?rosette=I">I Rosette</a></li>
								<li><a href="summary_rosette?rosette=L">L Rosette</a></li>
                                <li><a href="summary_rosette?rosette=EREC">Recovery</a></li>
                            </ul>
                        </li>
                        <li>
						    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-stats-up"></i>
							<span class="hide-menu">신관</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="summary_rosette?rosette=J">J Rosette</a></li>
                                <li><a href="summary_rosette?rosette=J">K Rosette</a></li>
                                <li><a href="summary_rosette?rosette=OB">Delivery Floor</a></li>
                                <li><a href="summary_rosette?rosette=NREC">Recovery</a></li>
								<li><a href="summary_rosette?rosette=PICU1">PICU1</a></li>
                            </ul>
                        </li>

                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>

        {% block content %}
        {% endblock %}

        <footer class="footer">
            © 2019 AMC
        </footer>

    </div>

    {% block extra %}
    {% endblock %}

    {% block script %}
    {% endblock %}
</body>

</html>