<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<!-- Favicon icon -->
<link rel="shortcut icon" href="/static/favi.ico" />
<title>AMC Bio Signal : Review, {{ bed }}/{{ date }}</title>
<!-- Custom CSS -->
<link href="/static/elite/css/style.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery-ui-themes-1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/static/contextmenu/jquery.contextMenu.min.css">
    <link rel="stylesheet" type="text/css" href="/static/review.css">
    <script type="text/javascript" src="/static/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/static/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/contextmenu/jquery.contextMenu.js"></script>
    <script type="text/javascript" src="/static/contextmenu/jquery.ui.position.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript" src="/static/Highcharts/customEvents.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/annotations.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.13/moment-timezone-with-data-2012-2022.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

</head>

<body class="horizontal-nav skin-megna fixed-layout">

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header">
                    <a class="navbar-brand" href="dashboard">
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon
                            <img src="/static/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />-->
                            <!-- Light Logo icon
                            <img src="/static/assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />-->
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
						<span class="hidden-sm-down">
                         <!-- dark Logo text
                         <img src="/static/assets/images/logo-text.png" alt="homepage" class="dark-logo" />-->
                         <!-- Light Logo text
                         <img src="/static/assets/images/logo-light-text.png" class="light-logo" alt="homepage" />-->
						 Asan Medical Center
						</span>
                    </a>
                </div>

            </nav>
        </header>
        <!-- End Topbar header -->

        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li>
						    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-image"></i>
						    <span class="hide-menu">Dashboard</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="dashboard">Anesthesiology </a></li>
                                <li><a href="dashboard?target=etc">Etc.</a></li>
                                <li><a href="dashboard?target=trend">Trend</a></li>
                            </ul>
                        </li>
                        <li>
						    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-stats-up"></i>
							<span class="hide-menu">서관</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="summary_rosette?rosette=B">B Rosette</a></li>
                                <li><a href="summary_rosette?rosette=C">C Rosette</a></li>
                                <li><a href="summary_rosette?rosette=D">D Rosette</a></li>
                                <li><a href="summary_rosette?rosette=E">E Rosette</a></li>
                                <li><a href="summary_rosette?rosette=WREC">Recovery</a></li>
                            </ul>
                        </li>
                        <li>
						    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-stats-up"></i>
							<span class="hide-menu">동관</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="summary_rosette?rosette=F">F Rosette</a></li>
                                <li><a href="summary_rosette?rosette=G">G Rosette</a></li>
                                <li><a href="summary_rosette?rosette=H">H Rosette</a></li>
                                <li><a href="summary_rosette?rosette=I">I Rosette</a></li>
								<li><a href="summary_rosette?rosette=L">L Rosette</a></li>
                                <li><a href="summary_rosette?rosette=EREC">Recovery</a></li>
                            </ul>
                        </li>
                        <li>
						    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-stats-up"></i>
							<span class="hide-menu">신관</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="summary_rosette?rosette=J">J Rosette</a></li>
                                <li><a href="summary_rosette?rosette=J">K Rosette</a></li>
                                <li><a href="summary_rosette?rosette=OB">Delivery Floor</a></li>
                                <li><a href="summary_rosette?rosette=NREC">Recovery</a></li>
								<li><a href="summary_rosette?rosette=PICU1">PICU1</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>

        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">{{ bed }}/{{ date }}</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                                <li class="breadcrumb-item">Vital</li>
                                <li class="breadcrumb-item active">{{ bed }}/{{ date }}</li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
<h1 align="center"> {{ bed }}, {{ date }} <a href="/download_vital_file?file={{ vital_file }}"> Download vital file</a></h1>

<div class="results">
    <table id="annotation_list">
        <thead>
        <tr>
            <th scope="col"  class="column-bed_name">
                <div class="text"><span>number</span></div>
                <div class="clear"></div>
            </th>
            <th scope="col"  class="column-bed_name">
                <div class="text"><span>dt</span></div>
                <div class="clear"></div>
            </th>
            <th scope="col"  class="column-bed_name">
                <div class="text"><span>dt_end</span></div>
                <div class="clear"></div>
            </th>
            <th scope="col"  class="column-bed_name">
                <div class="text"><span>method</span></div>
                <div class="clear"></div>
            </th>
            <th scope="col"  class="column-bed_name">
                <div class="text"><span>cat_1</span></div>
                <div class="clear"></div>
            </th>
            <th scope="col"  class="column-bed_name">
                <div class="text"><span>cat_2</span></div>
                <div class="clear"></div>
            </th>
            <th scope="col"  class="column-bed_name">
                <div class="text"><span>description</span></div>
                <div class="clear"></div>
            </th>
            <th scope="col"  class="column-bed_name">
                <div class="text"><span>comment</span></div>
                <div class="clear"></div>
            </th>
            <th scope="col"  class="column-bed_name">
                <div class="text"><span>action</span></div>
                <div class="clear"></div>
            </th>
        </tr>
        </thead>
    </table>
</div>
                        </div>
                    </div>
                </div><!-- /.row -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
<fieldset>
    <legend>Number</legend>
    <div id="number-chart-control" class="chart-control">
        <label for="browser-number-height">Height</label>
        <select id="browser-number-height">
            <option selected="selected">400px</option>
            <option>300px</option>
            <option>200px</option>
        </select>

        <select id="select-download-csv" class="select-action">
            {% for key, val in meta_data.items %}
                {% if val.number %}
                    <option>{{ key }}</option>
                {% endif %}
            {% endfor %}
        </select>

        <br></br>
        {% for key, val in meta_data.items %}
            {% if val.number %}
                <label for="cbx_chart_{{ val.id }}">{{ key }}</label>
                <input type="checkbox" id="cbx_chart_{{ val.id }}"{% if val.is_main %} checked{% endif %} onclick="ToggleNumberChart('{{ val.id }}')">
            {% endif %}
        {% endfor %}
    </div>
</fieldset>
                        </div>
                    </div>
                </div><!-- /.row -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
<fieldset>
    <legend>Wave</legend>
    <div id="wave-chart-control" class="chart-control">
        <label for="browser-wave-height">Height</label>
        <select id="browser-wave-height">
            <option selected="selected">400px</option>
            <option>300px</option>
            <option>200px</option>
        </select>
        {% for device, info in meta_data.items %}
            {% for waveinfo in info.waves %}
                <label><input type="checkbox" id="cbx_chart_{{ waveinfo.id }}_{{ waveinfo.channel }}"{% if waveinfo.is_main %} checked{% endif %} onclick="ToggleWaveChart('{{ waveinfo.id }}_{{ waveinfo.channel }}')"> {{ device }}_{{ waveinfo.channel }} <br></label>
            {% endfor %}
        {% endfor %}
    </div>
</fieldset>
                        </div>
                    </div>
                </div><!-- /.row -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
<div id="slider_new"></div>

{% for key, val in meta_data.items %}
    {% if val.number and val.is_main %}
        <div id="div_chart_{{ val.id }}" class="div-chart div-chart-number" title="test"></div>
    {% endif %}
{% endfor %}

{% for device, info in meta_data.items %}
    {% for waveinfo in info.waves %}
        <div id="div_chart_{{ waveinfo.id }}_{{ waveinfo.channel }}" class="div-chart div-chart-wave" style="display:none"></div>
    {% endfor %}
{% endfor %}
                        </div>
                    </div>
                </div><!-- /.row -->

            </div><!-- /.container-fluid -->
        </div>
    </div>


<div id="annotation_dialog" title="Add Annotation">
    <text id="dia_dt"></text>
    <br>
    <label for="cat1">Category 1</label>
    <select class="cat" name="cat1" id="cat1">
        <option selected>None</option>
    </select>
    <br>
    <label for="cat2">Category 2</label>
    <select class="cat" name="cat2" id="cat2" disabled="true">
        <option selected>None</option>
    </select>
    <br>
    <label for="desc">Description: </label>
    <input id="desc">
    <br>
    <button id="btn-add-annotation">Add</button>
    <button id="btn-cancel-annotation">Cancel</button>
</div>









    <!-- Bootstrap popper Core JavaScript -->
<script src="/static/assets/node_modules/popper/popper.min.js"></script>
<script src="/static/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/static/elite/js/perfect-scrollbar.jquery.min.js"></script>
<!--Wave Effects -->
<script src="/static/elite/js/waves.js"></script>
<!--Menu sidebar -->
<script src="/static/elite/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="/static/elite/js/custom.min.js"></script>

<script>

    let user = {{ user_json | safe }};
    let meta_data = {{ meta_data_json | safe }};
    let begin_date = new Date('{{ begin_date }}');
    let end_date = new Date('{{ end_date }}');
    let dt = new Date('{{ dt }}'), dt_pointer, dt_context_menu;
    let interval_marker = null;
    let annotation_data = null, annotation_options = null;
    let event_category = {
        '환자확인 후 모니터링 및 마취 시작': {},
        '기관삽관': {},
        '마취유도완료': {},
        '수술시작': {},
        '집도의 입실': {},
        '집도의 퇴실': {},
        '수술종료': {},
        '기관발관': {},
        '마취종료': {},
        'Surgical Procedures': {
            'pringle maneuver 시작': {},
            'pringle maneuver 종료': {},
            'reperfusion': {},
            'liver out': {},
            'Biopump on': {},
            'Biopump off': {},
            'IVC total clamping': {},
            'IVC partial clamping': {},
            'IVC unclamping': {},
            'SVC cannualtion': {},
            'IVC decannulation': {},
            'Aorta cannulation': {},
            'Aorta clamp': {},
            'CPB on': {},
            'Aorta decannulation': {},
            'SVC decannulation': {},
            'IVC decannulation': {},
            'CPB off': {},
            'Aorta declamp': {},
            'One lung ventilation': {},
            'Two lung ventilation': {},
            'Torniquet On': {},
            'Torniquet Off': {}
        },
        'Adverse Event': {
            'Massive bleeding': {},
            'Cardiac arrest': {},
            'Respiratory arrest': {}
        },
        'New-onset Arrythmia': {
            'PVC': {},
            'Afib': {},
            'Aflutter': {},
            'PSVT': {},
            'VF': {},
            'VT': {},
            'AV block': {},
            'Junctional Rhythm': {},
            'Unknwon': {}
        },
        'Defibrillation': {},
        'Cardioversion': {},
        'Bolus Drug Administration': {
            'ephedrine': {},
            'phenylephrine': {},
            'epinephrine': {},
            'norepinephrine': {},
            'vasopressin': {},
            'atropine': {},
            'nicardipine': {},
            'esmolol': {}
        },
        'Continuous Drug Infusion': {
            'ephedrine': {},
            'phenylephrine': {},
            'epinephrine': {},
            'norepinephrine': {},
            'vasopressin': {},
            'atropine': {},
            'nicardipine': {},
            'esmolol': {}
        },
        'Fluid loading': {}
    };

    let category_submenu = {}, category_submenu_interval = {};
    let selected_annotations = new Set();

    for (let [k1, v1] of Object.entries(event_category)) {
        category_submenu['add_event|'+k1] = {name: k1};
        category_submenu_interval['add_interval|'+k1] = {name: k1};
        if (!jQuery.isEmptyObject(v1)) {
            category_submenu['add_event|'+k1].items = {};
            category_submenu_interval['add_interval|'+k1].items = {};
            for (let [k2, v2] of Object.entries(v1)) {
                category_submenu['add_event|'+k1].items['add_event|'+k1+'|'+k2] = {name: k2}
                category_submenu_interval['add_interval|'+k1].items['add_interval|'+k1+'|'+k2] = {name: k2}
            }
        }
    }

    $("button").button();
    $("button").click(function() {
        if (this.id==="btn-cancel-annotation") {
            $( "#annotation_dialog" ).dialog( "close" );
        } else if (this.id==="btn-add-annotation") {
            let dialog_title = $("#annotation_dialog").dialog("option", "title");
            if (dialog_title==='Add Event') {
                let cat1 = $("#cat1").val(), cat2 = $("#cat2").val(), desc = $("#desc").val();
                UpdateAnnotationData("add_annotation?file={{ vital_file }}&dt=" + new Date(dt_context_menu).toISOString() + "&method=0&desc=" + desc + "&category_1=" + cat1 + "&category_2=" + cat2 );
                $( "#annotation_dialog" ).dialog( "close" );
            } else if (dialog_title==='Add Interval') {
                let cat1 = $("#cat1").val(), cat2 = $("#cat2").val(), desc = $("#desc").val();
                let xmin = dt_context_menu>interval_marker?interval_marker:dt_context_menu;
                let xmax = dt_context_menu>interval_marker?dt_context_menu:interval_marker;
                UpdateAnnotationData("add_annotation?file={{ vital_file }}&dt=" + new Date(xmin).toISOString() + "&dt_end=" + new Date(xmax).toISOString() + "&method=0&desc=" + desc + "&category_1=" + cat1 + "&category_2=" + cat2 );
                $( "#annotation_dialog" ).dialog( "close" );
            }
        }
    });
    $( "#annotation_dialog" ).dialog({ autoOpen: false });
    $( ".cat" ).selectmenu({
        change: function( event, ui ) {
            // event.target
            UpdateSelectMenu(event.target, ui.item.value);
        }
    });
    $( "#browser-number-height" ).selectmenu({
        change: function( event, ui ) {
            // event.target
            //UpdateSelectMenu(event.target, ui.item.value);
            $( ".div-chart-number" ).attr('style', 'height: '+$( "#browser-number-height" ).val());
            for (let v of Object.values(number_charts)) {
                //v.chart.containerHeight = v.chart.options.chart.height || window.window.HighchartsAdapter.adapterRun(v.chart.renderTo, 'height');
                //v.chart.containerWidth = v.chart.options.chart.width || window.window.HighchartsAdapter.adapterRun(v.chart.renderTo, 'width');
                v.chart.setSize(v.chart.options.chart.width, v.chart.options.chart.height, false);
                v.chart.hasUserSize = null;
            }
        }
    });
    $( "#browser-wave-height" ).selectmenu({
        change: function( event, ui ) {
            // event.target
            //UpdateSelectMenu(event.target, ui.item.value);
            $( ".div-chart-wave" ).attr('style', 'height: '+$( "#browser-wave-height" ).val());
            for (let [k, v] of Object.entries(wave_charts)) {
                if ("chart" in v) {
                    //v.chart.containerHeight = v.chart.options.chart.height || window.window.HighchartsAdapter.adapterRun(v.chart.renderTo, 'height');
                    //v.chart.containerWidth = v.chart.options.chart.width || window.window.HighchartsAdapter.adapterRun(v.chart.renderTo, 'width');
                    v.chart.setSize(v.chart.options.chart.width, v.chart.options.chart.height, false);
                    v.chart.hasUserSize = null;
                }
                ToggleWaveChart(k);
            }
        }
    });
    $( ".div-chart" ).tooltip({
        track: true,
        disabled: true,
        position: { my: "right-3 bottom-3" }
    });
    $( ".chart-control" ).controlgroup();
    $( "#select-download-csv" ).selectmenu({
        classes: {
            "ui-selectmenu-button": "ui-button-icon-only demo-splitbutton-select"
        },
        width: 'auto',
        change: function(){
            // Construct the 'a' element
            let link = document.createElement("a");
            //link.download = filename;
            link.target = "_blank";

            // Construct the URI
            link.href = "/download_csv_device?" + meta_data[this.value].csv_download_params;
            document.body.appendChild(link);
            link.click();

            // Cleanup the DOM
            document.body.removeChild(link);
        }
    });

    function UpdateSelectMenu(target, value) {
        if (target===document.getElementById('cat1')) {
            let tmp_cat1 = [], tmp_cat2 = [];
            if (value==='None') {
                tmp_cat1.push('<option selected>None</option>');
                tmp_cat2.push('<option selected>None</option>');
            }
            else {
                tmp_cat1.push('<option>None</option>');
                tmp_cat2.push('<option selected>None</option>');
                for (let key of Object.keys(event_category[value]))
                    tmp_cat2.push('<option>' + key + '</option>');
            }
            $( "#cat2" )[0].innerHTML = tmp_cat2.join('\n');
            $( "#cat2" ).selectmenu( "option", "disabled", tmp_cat2.length <= 1 );
            $( "#cat2" ).selectmenu( "refresh" );

            for (let key of Object.keys(event_category)) {
                if (value===key)
                    tmp_cat1.push('<option selected>' + key + '</option>');
                else
                    tmp_cat1.push('<option>' + key + '</option>');
            }
            $( "#cat1" )[0].innerHTML = tmp_cat1.join('\n');
            $( "#cat1" ).selectmenu( "refresh" );
        } else if (target===document.getElementById('cat2')) {
            for ( let i=0 ; i <document.getElementById('cat2').length ; i++ ) {
                if (document.getElementById('cat2')[i].value===value) {
                    document.getElementById('cat2').selectedIndex = i
                }
            }
            $( "#cat2" ).selectmenu( "refresh" );
        }
    }

    let wave_dt_list = [];
    for (let dt = Math.ceil(begin_date.getTime()/10000)*10000; dt <= end_date.getTime(); dt += 10000) {
        wave_dt_list.push(dt);
    }

    function binary_search(t_list, val, st, ed) {
        if (st + 1 === ed) {
            return st
        }
        let mid = Math.ceil((st+ed)/2);
        if (t_list[mid] > val) {
            return binary_search(t_list, val, st, mid)
        } else {
            return binary_search(t_list, val, mid, ed)
        }
    }

    if (dt == "Invalid Date") {
        dt_pointer = Math.floor(wave_dt_list.length/2);
    } else{
        dt_pointer = binary_search(wave_dt_list, dt, 0, wave_dt_list.length);
    }

    $( "#slider_new" ).slider({
        max: wave_dt_list.length,
        value: dt_pointer,
        change: function( event, ui ) {
            OnTimePointerChange(ui.value);
        }
    });

    function OnTimePointerChange(new_dt_pointer) {
        dt_pointer = new_dt_pointer;
        UpdateWaveData();
        let tmp_line = {
            id: 'C',
            color: 'red',
            width: 1,
            value: wave_dt_list[dt_pointer],
        };
        for (let v of Object.values(number_charts)) {
            v.chart.xAxis[0].removePlotLine('C');
            v.chart.xAxis[0].addPlotLine(tmp_line);
        }
        for (let v of Object.values(wave_charts)) {
            if ("chart" in v) {
                v.chart.xAxis[0].removePlotLine('C');
                v.chart.xAxis[0].addPlotLine(tmp_line);
            }
        }
    }

    function ToggleNumberChart(id) {
        if ( document.getElementById('cbx_chart_'+id).checked) {
            if (!('chart' in number_charts[id])) {
                number_charts[id].chart = Highcharts.chart('div_chart_'+id, {
                    chart: {
                        type: 'line',
                        animation: false
                    },
                    title: {
                        text: number_charts[id].device
                    },
                    data: {
                        csvURL: window.location.origin + '/get_numberdata?file={{ vital_file }}&format=csv&device_id=' + id
                    },
                    xAxis: {
                        type: 'datetime',
                    },
                    time: {
                        timezone: 'Asia/Seoul'
                    },
                    colors: ['#008000', '#0000FF', '#FF0000', '#FFA500', '#FFD700', '#00FFFF'],
                    tooltip: {
                        shared: true,
                        split: true,
                        crosshairs: false
                    },
                });
            }
            document.getElementById('div_chart_'+id).style.display="block";
        } else {
            document.getElementById('div_chart_'+id).style.display="none";
        }
    }

    function ToggleWaveChart(id) {
        if ( document.getElementById('cbx_chart_'+id).checked) {
            let value = wave_charts[id];
            let xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    let d = JSON.parse(xhttp.responseText);
                    let new_series = [{name: value.channel, data: []}];
                    for (let j = 0; j < d['data'][0].length; j++) {
                        new_series[0].data.push([(d.timestamp[0]+j/d['sampling_rate'])*1000 , d['data'][0][j]]);
                    }
                    let options = {
                        chart: {
                            type: 'line',
                            animation: false
                        },
                        title: {
                            text: wave_charts[id].device + '_' + wave_charts[id].channel
                        },
                        xAxis: {
                            type: 'datetime',
                        },
                        plotOptions: {
                            series: {
                                lineWidth: 1,
                                states: {
                                    hover: {
                                        enabled: false
                                    }
                                }
                            },
                        },
                        series: new_series,
                        time: {
                            timezone: 'Asia/Seoul'
                        },
                        colors: ['#000000'],
                        tooltip: {
                            shared: false,
                            crosshairs: true
                        },
                        legend: {
                            enabled: false
                        }
                    };
                    if (!('chart' in wave_charts[id])) {
                        wave_charts[id].chart = Highcharts.chart('div_chart_'+id, options);
                        if (annotation_data)
                            wave_charts[id].chart.update(annotation_options);
                    } else {
                        wave_charts[id].chart.series[0].setData(new_series[0].data)
                    }
                }
            };
            document.getElementById('div_chart_'+id).style.display="block";
            xhttp.open("GET", "get_wavedata?file={{ vital_file }}&dt=" + new Date(wave_dt_list[dt_pointer]).toISOString() +
                "&device_code=" + value.device_code + "&channel=" + value.channel, true);
            xhttp.send();
        } else {
            document.getElementById('div_chart_'+id).style.display="none";
        }
    }

    function UpdateWaveData() {
        for (let [key, value] of Object.entries(wave_charts)) {
            ToggleWaveChart(key);
        }
    }

    let number_charts = {};
    for (let [key, value] of Object.entries(meta_data)) {
        if (value.number && value.is_main) {
            number_charts[value.id] = {
                device: key,
                device_id: value.id
            };
            ToggleNumberChart(value.id);
        }
    }

    let wave_charts = {};
    for (let [key, value] of Object.entries(meta_data)) {
        for (let i=0; i<value.waves.length; i++) {
            wave_charts[value.waves[i].id+'_'+value.waves[i].channel] = {
                device: key,
                device_id: value.waves[i].id,
                device_code: value.waves[i].device_code,
                channel: value.waves[i].channel,
                sampling_rate: value.waves[i].sampling_rate,
                num_packets: value.waves[i].num_packets,
                file_path: value.waves[i].file_path
            };
            ToggleWaveChart(value.waves[i].id+'_'+value.waves[i].channel);
        }
    }

    function AttachContextMenu(selector){
        $(function() {
            $.contextMenu({
                selector: selector,
                build: function ($trigger, e) {
                    // this callback is executed every time the menu is to be shown
                    // its results are destroyed every time the menu is hidden
                    // e is the original contextmenu event, containing e.pageX and e.pageY (amongst other data)
                    let id = e.currentTarget.id.replace('div_chart_','');
                    let chart = id.includes('_')?wave_charts[id].chart:number_charts[id].chart;
                    dt_context_menu = chart.hoverPoint.x;
                    let items = {
                        "add_event": {name: "Add Event", icon: "add", disabled: false, items: category_submenu},
                        "add_interval": {name: "Add Interval", icon: "add", disabled: interval_marker===null, items: category_submenu_interval},
                        "edit": {name: "Edit", icon: "edit", disabled: !selected_annotations.size, items: {}},
                        "delete": {name: "Delete", icon: "delete", disabled: !selected_annotations.size, items: {}},
                        "sep1": "---------"
                    };
                    if (selected_annotations.size) {
                        for (let val of selected_annotations.values()) {
                            items["edit"]["items"]['edit|'+val] = {name: val+1};
                            items["delete"]["items"]['delete|'+val] = {name: val+1};
                        }
                    }
                    if (selected_annotations.size) {
                        for (let val of selected_annotations.values()) {
                            let like = '';
                            for (let i=0; i<annotation_data[val].like.length; i++) {
                                if (annotation_data[val].like[i].user_name === user.name) {
                                    like = 'Like'
                                }
                            }
                            for (let i=0; i<annotation_data[val].dislike.length; i++) {
                                if (annotation_data[val].dislike[i].user_name === user.name) {
                                    like = 'Dislike'
                                }
                            }
                            items[val.toString()] = {
                                name: val+1, disabled: false, items: {}
                            };
                            items[val.toString()]["items"]['like|'+val] = {name: 'Like', disabled: like==='Like'};
                            items[val.toString()]["items"]['dislike|'+val] = {name: 'Dislike', disabled: like==='Dislike'};
                            items[val.toString()]["items"]['cancel|'+val] = {name: 'Cancel', disabled: like===''};
                        }
                    }
                    items["set_marker"] = {name: "Set Marker", disabled: false};
                    items["sep2"] = "---------";
                    items["quit"] = {
                        name: "Quit", icon: function () {
                            return 'context-menu-icon context-menu-icon-quit';
                        }
                    };
                    return {
                        callback: function (key, options, e) {
                            let selected_menu = key.split('|');
                            if (selected_menu[0]==='add_event') {
                                $("#annotation_dialog").dialog({title: 'Add Event'});
                                document.getElementById('dia_dt').innerHTML = 'at ' + new Date(dt_context_menu).toString();
                                if (selected_menu.length > 1) {
                                    UpdateSelectMenu(document.getElementById('cat1'), selected_menu[1]);
                                }
                                if (selected_menu.length > 2) {
                                    UpdateSelectMenu(document.getElementById('cat2'), selected_menu[2]);
                                }
                                $("#annotation_dialog").dialog("open");
                            } else if (selected_menu[0]==='add_interval') {
                                $("#annotation_dialog").dialog({title: 'Add Interval'});
                                let xmin = dt_context_menu>interval_marker?interval_marker:dt_context_menu;
                                let xmax = dt_context_menu>interval_marker?dt_context_menu:interval_marker;
                                document.getElementById('dia_dt').innerHTML = 'From ' + new Date(xmin).toString() +
                                    '<br>To ' + new Date(xmax).toString();
                                if (selected_menu.length > 1) {
                                    UpdateSelectMenu(document.getElementById('cat1'), selected_menu[1]);
                                }
                                if (selected_menu.length > 2) {
                                    UpdateSelectMenu(document.getElementById('cat2'), selected_menu[2]);
                                }
                                $("#annotation_dialog").dialog("open");
                            } else if (selected_menu[0]==='like') {
                                UpdateAnnotationData('like_annotation?file={{ vital_file }}&annotation_id='+annotation_data[selected_menu[1]].id+'&like=1');
                            } else if (selected_menu[0]==='dislike') {
                                UpdateAnnotationData('like_annotation?file={{ vital_file }}&annotation_id='+annotation_data[selected_menu[1]].id+'&like=2');
                            } else if (selected_menu[0]==='cancel') {
                                UpdateAnnotationData('like_annotation?file={{ vital_file }}&annotation_id='+annotation_data[selected_menu[1]].id+'&like=0');
                            } else if (selected_menu[0]==='set_marker') {
                                interval_marker = dt_context_menu;
                                SetIntervalMarker();
                            }
                        },
                        items: items
                    };
                }
            });
        });
    }

    AttachContextMenu('.div-chart');

    function SetIntervalMarker() {
        let tmp_line = {
            id: 'M',
            color: 'orange',
            width: 1,
            value: interval_marker,
            label: {
                text: 'M'
            }
        };
        for (let v of Object.values(number_charts)) {
            v.chart.xAxis[0].removePlotLine('M');
            v.chart.xAxis[0].addPlotLine(tmp_line);
        }
        for (let v of Object.values(wave_charts)) {
            if ("chart" in v) {
                v.chart.xAxis[0].removePlotLine('M');
                v.chart.xAxis[0].addPlotLine(tmp_line);
            }
        }
    }

    function UpdateAnnotationData(url){
        let xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                annotation_data = JSON.parse(xhttp.responseText);
                let annotation_table = document.getElementById('annotation_list');
                let row_count = annotation_table.rows.length;
                while (--row_count) {
                    annotation_table.deleteRow(row_count);
                }
                for (let i=0; i<annotation_data.length; i++) {
                    annotation_data[i].dt = new Date(annotation_data[i].dt);
                    annotation_data[i].dt_end = annotation_data[i].dt_end?new Date(annotation_data[i].dt_end):null;
                    let row = annotation_table.insertRow(i+1);
                    row.insertCell(0).innerHTML = i+1;
                    row.insertCell(1).innerHTML = annotation_data[i].dt.toLocaleString();
                    row.insertCell(2).innerHTML = annotation_data[i].dt_end?annotation_data[i].dt_end.toLocaleString():'N/A';
                    row.insertCell(3).innerHTML = annotation_data[i].method;
                    row.insertCell(4).innerHTML = annotation_data[i].category[0];
                    row.insertCell(5).innerHTML = annotation_data[i].category[1];
                    row.insertCell(6).innerHTML = annotation_data[i].description;
                    let tmp_str='';
                    let likes = [], dislikes = [], comments = [];
                    for (let j=0; j<annotation_data[i].like.length; j++) {
                        likes.push(annotation_data[i].like[j].user_name);
                    }
                    for (let j=0; j<annotation_data[i].dislike.length; j++) {
                        dislikes.push(annotation_data[i].dislike[j].user_name);
                    }
                    for (let j=0; j<annotation_data[i].comment.length; j++) {
                        comments.push(annotation_data[i].comment[j].user_name + annotation_data[i].comment[j].dt + annotation_data[i].comment[j].comment);
                    }
                    tmp_str = tmp_str.concat('<div class="annotation-tooltip" title="'+likes.join()+'">like:'+likes.length+'</div>');
                    tmp_str = tmp_str.concat('<div class="annotation-tooltip" title="'+dislikes.join()+'">dislike:'+dislikes.length+'</div>');
                    tmp_str = tmp_str.concat('<div class="annotation-tooltip" title="'+comments.join()+'">comment:'+comments.length+'</div>');
                    if (user.is_authenticated) {
                        let url = 'like_annotation?file={{ vital_file }}&annotation_id='+annotation_data[i].id;
                        if (annotation_data[i].user_like) {
                            tmp_str = tmp_str.concat('<button type="button" onclick="UpdateAnnotationData(\''+url.concat('&like=0')+'\')"> Cancel </button>');
                        } else {
                            tmp_str = tmp_str.concat('<button type="button" onclick="UpdateAnnotationData(\''+url.concat('&like=1')+'\')">Like</button>');
                            tmp_str = tmp_str.concat('<button type="button" onclick="UpdateAnnotationData(\''+url.concat('&like=2')+'\')">Dislike</button>');
                        }
                        tmp_str = tmp_str.concat('<input type="text" id="txt_comment_'+annotation_data[i].id+'">');
                        tmp_str = tmp_str.concat('<button type="button" onclick="AddComment('+annotation_data[i].id+')">Add Comment</button>');
                    } else {
                        tmp_str = tmp_str.concat('<a href="accounts/login?next=' + window.location.pathname + window.location.search + window.location.hash + '">login</a>');
                    }
                    row.insertCell(7).innerHTML = tmp_str;
                    row.insertCell(8).innerHTML = '<button type="button" onclick="DeleteAnnotation(' + annotation_data[i].id + ')">Delete</button>';
                    $( ".annotation-tooltip" ).tooltip({});
                }
                annotation_options = { xAxis: { plotBands: [], plotLines: [] } };
                let tmp_line = {
                    id: 'C',
                    color: 'red',
                    width: 1,
                    value: wave_dt_list[dt_pointer],
                };
                annotation_options.xAxis.plotLines.push( tmp_line );
                for (let i=0; i<annotation_data.length; i++) {
                    if (annotation_data[i].dt_end===null) {
                        let tmp_line = {
                            color: 'green',
                            width: 1,
                            value: annotation_data[i].dt.getTime(),
                            events: {
                                mouseover: function (e) {
                                    let div = this.axis.chart.renderTo;
                                    $(div).tooltip("option", "content", annotation_data[i].category.join('/'));
                                    $(div).tooltip("enable");
                                },
                                mouseout: function (e) {
                                    let div = this.axis.chart.renderTo;
                                    $(div).tooltip("option", "content", "");
                                    $(div).tooltip("disable");
                                }
                            },
                            label: {
                                text: i+1
                            },
                        };
                        annotation_options.xAxis.plotLines.push( tmp_line );
                    } else {
                        let tmp_band = {
                            id: i+1,
                            from: annotation_data[i].dt,
                            to: annotation_data[i].dt_end,
                            events: {
                                mouseover: function (e) {
                                    let div = this.axis.chart.renderTo;
                                    $( div ).tooltip("option", "content", annotation_data[i].category.join('/'));
                                    $( div ).tooltip( "enable" );
                                },
                                mouseout: function (e) {
                                    let div = this.axis.chart.renderTo;
                                    $( div ).tooltip("option", "content", "");
                                    $( div ).tooltip( "disable" );
                                }
                            },
                            color: 'rgba(255,191,0,0.1)',
                            label: {
                                text: i+1
                            }
                        };
                        annotation_options.xAxis.plotBands.push( tmp_band );
                    }
                }
                UpdateNumberAnnotation();
                UpdateWaveAnnotation();
            }
        };
        xhttp.open("GET", url, true);
        xhttp.send();
    }

    function UpdateNumberAnnotation() {
        for (let v of Object.values(number_charts)) {
            v.chart.update(annotation_options);
        }
    }

    function UpdateWaveAnnotation() {
        for (let v of Object.values(wave_charts)) {
            if ("chart" in v) {
                v.chart.update(annotation_options);
            }
        }
    }

    function AddAnnotation(dt, description){
        UpdateAnnotationData("add_annotation?file={{ vital_file }}&dt=" + dt.toISOString() + "&method=0&desc=" + description);
    }

    function DeleteAnnotation(i) {
        UpdateAnnotationData("delete_annotation?file={{ vital_file }}&id=" + i);
    }

    function AddComment(annotation_id) {
        let textbox = document.getElementById('txt_comment_'+annotation_id);
        let uri = 'comment_annotation?file={{ vital_file }}&annotation_id=' + annotation_id + '&comment=' + textbox.value;
        console.log(uri);
        textbox.value = '';
        UpdateAnnotationData(uri);
    }

    UpdateSelectMenu(document.getElementById('cat1'), 'None');
    UpdateAnnotationData("get_annotation?file={{ vital_file }}");

    function handleKeyBoard(e){
        if (e.code==='Period') {
            if (dt_pointer < wave_dt_list.length-1) {
                OnTimePointerChange(dt_pointer+1);
            }
        } else if (e.code==='Comma') {
            if (dt_pointer > 0) {
                OnTimePointerChange(dt_pointer-1);
            }
        }
    }

    document.addEventListener("keypress", handleKeyBoard);

    $(document).ready(function(){
        $(".div-chart-number").click(function(e){
            let target_chart = number_charts[e.currentTarget.id.replace('div_chart_','')].chart;
            if (target_chart.hoverPoint) {
                let new_dt = target_chart.hoverPoint.x;
                let new_dt_pointer = binary_search(wave_dt_list, new_dt, 0, wave_dt_list.length);
                $( "#slider_new" ).slider("value", new_dt_pointer);
                OnTimePointerChange(new_dt_pointer);
            }
        });
    });

</script>

</body>
</html>